{% extends "layouts/default.html" %} {% block title %} Forms {% endblock title
%} {% block stylesheets %} {% endblock stylesheets %} {% block content %}

<div class="page-inner mt--2">
  <div class="row row-card-no-pd">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-head-row card-tools-still-right">
            <h4
              class="card-title"
              style="font-weight: 900; font-size: x-large; color: #44d62c;"
            >
              Oops! Currently, you do not have any plan with us.
            </h4>

            <div
              class="d-flex align-items-left align-items-md-center flex-column flex-md-row"
            ></div>

            <div class="card-tools"></div>
          </div>
          <p class="card-category" style="font-size: larger;">
            Apply for one of the best term loans for your urgent needs
          </p>
          <p class="card-category" style="font-size: larger;">
            Take a <a href="/forms.html">financial health review</a> with us to
            know more about your future plans
          </p>
        </div>
        <div class="py-2 py-md-0">
          <a
            href="/forms.html"
            class="btn btn-success btn-round"
            style="color: black; font-weight: 600;"
            >Sign me up!</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block javascripts %} {% endblock javascripts %}
