<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link"
            style="color: #44d62c;"
            href="https://github.com/Melvynkoh94/ArtEngeering_RazerHackathon"
          >
            Team Art Engineering | Razer FinTech Digital Hackathon
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright ml-auto">
      &copy;
      <a
        href="https://github.com/Melvynkoh94/ArtEngeering_RazerHackathon"
        style="color: #44d62c;"
        >Art Engineering's GitHub</a
      >
      - Coded with Python Flask
    </div>
  </div>
</footer>
