
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">
					
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

					{% if current_user.is_authenticated %}

						<div class="user">
							<div class="avatar-sm float-left mr-2">
								<!-- <img src="/static/assets/img/melvyn.jpg" alt="..." class="avatar-img rounded-circle"> 
								-->
								<img src="/static/assets/img/{{ current_user.user }}.jpg" alt="..." class="avatar-img rounded-circle">
							</div>
							<div class="info">
								<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
									<span>
										{{ current_user.user }}
										<span class="user-level">
											{{ current_user.email }}  
										</span>
										<span class="caret"></span>
									</span>
								</a>
								<div class="clearfix"></div>

								<div class="collapse in" id="collapseExample">
									<ul class="nav">
										<li>
											<a href="#profile">
												<span class="link-collapse">My Profile</span>
											</a>
										</li>
										<li>
											<a href={{ url_for('logout') }}>
												<span class="link-collapse">Logout</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<ul class="nav nav-primary">
							<li class="nav-item active">
								<a data-toggle="collapse" style="color:#44d62c" href="#dashboard" class="collapsed" aria-expanded="false">
									<i class="fas fa-home"></i>
									<p>My Money Insight</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="dashboard">
									<ul class="nav nav-collapse">
										<li>
											<a href="/index.html">
												<span class="sub-item">My Spending Habits</span>
											</a>
										</li>
										<li>
											<a href="/index.html">
												<span class="sub-item">Wealth Insights</span>
											</a>
										</li>
										<li>
											<a href="/covid19.html">
												<span class="sub-item">Current Covid-19 Situation</span>
											</a>
										</li>										
									</ul>
								</div>
							</li>
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								<h4 class="text-section">Menu</h4>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#insuranceplans">
									<i class="fas fa-dollar-sign"></i>
									<p>Financial Plans</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="insuranceplans">
									<ul class="nav nav-collapse">
										<li>
											<a href="/currentplans.html">
												<span class="sub-item">My Current Plans</span>
											</a>
										</li>
										<li>
											<a href="/forms.html">
												<span class="sub-item">Purchase a Plan</span>
											</a>
										</li>
										<li>
											<a href="/loans.html">
												<span class="sub-item">Loans Enquiries</span>
											</a>
										</li>
									</ul>
								</div>
							</li>

							<li class="nav-item">
								<a data-toggle="collapse" href="#travelplans">
									<i class="fas fa-plane-departure"></i>
									<p>Travels</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="travelplans">
									<ul class="nav nav-collapse">
										<li>
											<a href="/forms.html">
												<span class="sub-item">Declare Travel Plans</span>
											</a>
										</li>
										<li>
											<a href="/fxrates.html">
												<span class="sub-item">FX Rates</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							
							</li>

							<li class="nav-item">		
								<a data-toggle="collapse" href="#visacard">
									<i class="fas fa-credit-card"></i>
									<p>Visa Card Services</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="visacard">
									<ul class="nav nav-collapse">
										<li>
											<a href="/avatars.html">
												<span class="sub-item">My Card</span>
											</a>
										</li>
										<li>
											<a href="/avatars.html">
												<span class="sub-item">My Transcations</span>
											</a>
										</li>											
									</ul>
								</div>
							</li>

							<li class="nav-item">		
								<a data-toggle="collapse" href="#shoppingspree">
									<i class="fas fa-shopping-bag"></i>
									<p>Shopping Spree</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="shoppingspree">
									<ul class="nav nav-collapse">
										<li>
											<a href="/avatars.html">
												<span class="sub-item">Game for Rewards</span>
											</a>
										</li>
										<li>
											<a href="/avatars.html">
												<span class="sub-item">Great Deals</span>
											</a>
										</li>											
									</ul>
								</div>
							</li>
<!-- 
							<li class="nav-item">		
								<a data-toggle="collapse" href="#base">
									<i class="fas fa-layer-group"></i>
									<p>Base</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="base">
									<ul class="nav nav-collapse">
										<li>
											<a href="/avatars.html">
												<span class="sub-item">Avatars</span>
											</a>
										</li>
										<li>
											<a href="/buttons.html">
												<span class="sub-item">Buttons</span>
											</a>
										</li>
										<li>
											<a href="/gridsystem.html">
												<span class="sub-item">Grid System</span>
											</a>
										</li>
										<li>
											<a href="/panels.html">
												<span class="sub-item">Panels</span>
											</a>
										</li>
										<li>
											<a href="/notifications.html">
												<span class="sub-item">Notifications</span>
											</a>
										</li>
										<li>
											<a href="/sweetalert.html">
												<span class="sub-item">Sweet Alert</span>
											</a>
										</li>
										<li>
											<a href="/font-awesome-icons.html">
												<span class="sub-item">Font Awesome Icons</span>
											</a>
										</li>
										<li>
											<a href="/simple-line-icons.html">
												<span class="sub-item">Simple Line Icons</span>
											</a>
										</li>
										<li>
											<a href="/flaticons.html">
												<span class="sub-item">Flaticons</span>
											</a>
										</li>
										<li>
											<a href="/typography.html">
												<span class="sub-item">Typography</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							
							<li class="nav-item">
								<a data-toggle="collapse" href="#forms">
									<i class="fas fa-pen-square"></i>
									<p>Forms</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="forms">
									<ul class="nav nav-collapse">
										<li>
											<a href="/forms.html">
												<span class="sub-item">Basic Form</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#tables">
									<i class="fas fa-table"></i>
									<p>Tables</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="tables">
									<ul class="nav nav-collapse">
										<li>
											<a href="/tables.html">
												<span class="sub-item">Basic Table</span>
											</a>
										</li>
										<li>
											<a href="/datatables.html">
												<span class="sub-item">Datatables</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#maps">
									<i class="fas fa-map-marker-alt"></i>
									<p>Maps</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="maps">
									<ul class="nav nav-collapse">
										<li>
											<a href="/jqvmap.html">
												<span class="sub-item">JQVMap</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#charts">
									<i class="far fa-chart-bar"></i>
									<p>Charts</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="charts">
									<ul class="nav nav-collapse">
										<li>
											<a href="/charts.html">
												<span class="sub-item">Chart Js</span>
											</a>
										</li>
										<li>
											<a href="/sparkline.html">
												<span class="sub-item">Sparkline</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a href="widgets.html">
									<i class="fas fa-desktop"></i>
									<p>Widgets</p>
									<span class="badge badge-success">4</span>
								</a>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#submenu">
									<i class="fas fa-bars"></i>
									<p>Menu Levels</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="submenu">
									<ul class="nav nav-collapse">
										<li>
											<a data-toggle="collapse" href="#subnav1">
												<span class="sub-item">Level 1</span>
												<span class="caret"></span>
											</a>
											<div class="collapse" id="subnav1">
												<ul class="nav nav-collapse subnav">
													<li>
														<a href="#">
															<span class="sub-item">Level 2</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="sub-item">Level 2</span>
														</a>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<a data-toggle="collapse" href="#subnav2">
												<span class="sub-item">Level 1</span>
												<span class="caret"></span>
											</a>
											<div class="collapse" id="subnav2">
												<ul class="nav nav-collapse subnav">
													<li>
														<a href="#">
															<span class="sub-item">Level 2</span>
														</a>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Level 1</span>
											</a>
										</li>
									</ul>
								</div>
							</li> -->
						</ul>

					{% endif %}

				</div>
			</div>
		</div>
		<!-- End Sidebar -->
